@media only screen and (max-width:850px) {
    *root{
        line-height: 1rem;
    }
    .content h1,h2{
        font-size: 20px;
    }
    .btn{
        font-size: small;
        padding: 3px 10px;
    }
    /* --------------- */
    #navbar {
        height: max-content;
        font-size: small;
        display: grid;
        grid-template-rows: 1fr;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    #navbar ul{
        padding: 0;
    }
    /* =========== */
    #hero .container{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin:20px 0 40px 0;
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
    }
    #hero .container h1{
        font-size: larger;
        font-weight: 600;
    }
    #hero #left-content>img{
        max-width: 100%;
    }
    /* projects */
    .all_projects{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        margin: auto;
    }
    /* ========= */
    #skills .content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }#skills .content i{
        padding:20px 5px ;
    }
   
}
@media only screen and (max-width:400px) {
     /* projects */
     .all_projects{
         margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0px;
    }
     .project_card{
        margin: auto;
        max-width: 320px;
        height: 320px;
        margin-bottom: 100px;
    }
    .content_holder{
        left:50%;
        margin-left: -45%;
        width: 90%;
        padding: 10px;
        bottom:-90px;
    }
}