@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}
:root{
    --primary-color:#3B82F6;
    --secondary--color:#374151;
    --ternary-color:#F3F4F6;
}
body{
    font-family: kumbh sans;
    background: var(--ternary-color);
    color: var(--secondary--color);
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
}
.content{
    padding: 20px;
    border-bottom: 3px  solid;
}
/* utilities */
a{
    text-decoration: none;
    display:inline-block;
    color: var(--secondary--color);
}
li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 5px 0;
}
.btn{
    display: inline-block;
    margin-top: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--secondary--color);
    color: var(--ternary-color);
    font-size: 16px;
    font-weight: 500;
}
.btn_opp{
    background:var(--ternary-color);
    color: var(--secondary--color);
    display: inline-block;
    margin-top: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}
.btn:hover{
    box-shadow: rgb(22, 21, 21) 1.95px 1.95px 2.6px;
    transform: scale(0.96);
    background-color: var(--primary-color);
}
.btn_opp:hover{
    box-shadow: rgb(22, 21, 21) 1.95px 1.95px 2.6px;
    transform: scale(0.96);
    background-color: var(--primary-color);
    color:var(--ternary-color)
}

.current,i:hover{
    color: var(--primary-color);
    transform: scale(0.98);
}
#trash{
    display: none;
}
/* -----------------dark mode class add---------------- */
.dark_mode{
    background:var(--secondary--color);
    color: var(--ternary-color);
}
.dark_mode a{
    color: var(--ternary-color);
}
.dark_mode .btn{
    background: var(--ternary-color);
    color: var(--secondary--color);
}
.dark_mode .btn:hover{
    color: var(--primary-color);
}
.dark_mode .btn_opp{
    background: var(--secondary--color);
    color: var(--ternary-color);
}
.dark_mode .btn_opp:hover{
    color:var(--primary-color);
}
.dark_mode .current{
    color: var(--primary-color);
}
.dark_mode #logo{
    color: var(--ternary-color);
}
.dark_mode .content_holder{
    color: black;
}

/* -----navbar */

#logo{
    color: black;
    font-family: Pacifico;
}
#navbar{
    padding: 10px 30px;
}
#navbar{
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
#navbar ul{
    display: flex;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
}
#navbar ul li{
    margin: 10px;
}

#navbar ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
    transform: scale(0.9);
}
#switcher{
    width: 30px;
    cursor: pointer;
}
/* =================intro section=========================== */
#hero{
    margin-bottom: 100px;
}
#hero .container{
    padding: 10px 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 625px;
    text-align: justify;
}
#hero #right-content, #left-content{
    width: 50%;
}

#hero #left-content>img{
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    box-shadow: rgba(152, 152, 158, 0.2) 0px 7px 29px 0px;
    border-radius:15px;
}

#handwave {
    animation: waver 2.5s infinite; 
     /*what transform-origin does is that it will change the origin  */
     /* here we are changing origin to a point which is 75% from left and 75% from top so tha we lock the bottom from moving while we wave */
    transform-origin:75% 75%;
    /* we are adding inline-block so that the animation is withinn the element set properties */
    display: inline-block;
}
@keyframes waver {
    0% { transform: rotate( 0deg)}
    10% { transform: rotate(14deg)} 
    20% { transform: rotate(-2deg)}
    30% { transform: rotate(14deg)}
    40% { transform: rotate(-4deg)}
    50% { transform: rotate(14deg)}
    60% { transform: rotate(0deg)} 
    100% { transform: rotate(0deg)}
}
  
/* ==using grid==
#hero .container{
    padding: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#hero #left-content>img{
    max-width: 100%;
} 
<img style='height: 100%; width: 100%; object-fit: contain'/>---refer later */

/* ==================skills section============== */
#skills .container{
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#skills .content{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 3px  solid;
}
#skills .content i{
    padding: 25px ;
}
/*============== projects page ==============*/
.all_projects{
    margin:50px 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
}
.project_card{
    border-radius: 10px;
    margin: auto;
    width: 390px;
    height: 360px;
    position: relative;
    margin-bottom: 150px;

    box-shadow: rgba(0, 0, 0, 0.808) 0px 2px 1px, rgba(0, 0, 0, 0.719) 0px 4px 2px, rgba(0, 0, 0, 0.658) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.616) 0px 32px 16px;}
.image_holder{
    width: 100%;
    height: 100%;
}
.image_holder img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.content_holder{
    position: absolute;
    bottom:-130px;
    left:50%;
    margin-left: -45%;
    width: 90%;
    padding: 10px 20px ;
    background: rgb(175, 173, 173);
    color:#374151;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.content_holder p{
    font-size: 14px;
}
/* ================blogs=============================== */

#blog_anime{
    width: 50%;
    border-radius: 5px;
}
/* ================footer=============================== */
footer{
    display: flex;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
footer div>*{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
    border-bottom: none;
    flex-direction: row;
    margin:5px 10px;
}




